body {
  font-family: arial, "times new roman", sans-serif;
  margin: 2rem auto;
  max-width: 550px;
  padding: 0 1rem;
}

.content table {
  border-collapse: collapse;
  width: 90%;
  margin-bottom: 1.5rem;
}

.content th,
.content td {
  border: 1px solid #333;
  padding: 0.5rem;
  text-align: left;
}

.content th {
  background-color: #eee;
}
