body {
  font-family: sans-serif;
  max-width: 700px;
  margin: 2rem auto;
  padding: 0 1rem;
  background-color: #ffffff;
  color: #212121;

}

main {
   line-height: 1.8;
}

nav a {
  margin-right: 1rem;
  text-decoration: none;
  color: #1D6BE0;
}
/* unvisited link */
a:link {
  color: #1D6BE0;
}

/* visited link */
a:visited {
  color: #1D6BE0;
}

nav {
  margin-bottom: 2rem;
}

ul {
  padding-left: 1.5rem;
}
.breadcrumbs {
  font-size: 1.2rem;
  margin-bottom: 1em;
}

.breadcrumbs a {
  text-decoration: none;
  color: #1D6BE0;
}

.breadcrumbs span {
  margin: 0 5px;
  color: #888;
}
