<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
<main>


<a href="/">plaintextspokane</a>
<p>A simple, no-nonsense guide for Spokane.
Links with ↑ symbol are external.</p>
<!-- Breadcrumbs -->
<p class="breadcrumbs">
  <a href="/">plaintextspokane</a>
  {% if page.dir != "/" %}
    / <a href="{{ page.dir }}">{{ page.dir | split:'/' | last | capitalize }}</a>
  {% endif %}
</p>

{{ content }}

</main>
</body>
</html>