<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>

<nav>
  <a href="/">plaintextspokane</a>
  <br><p>A quick, no-nonsense web guide for Spokane residents. </p>
</nav>

<main>
  {% assign segments = page.url | split:"/" %}
{% assign path = "" %}

<nav class="breadcrumbs">
  <a href="/">Home</a>

  {% for s in segments %}
    {% unless s == "" or s == "index.html" %}
      {% assign path = path | append: "/" | append: s %}

      <span>›</span>

      <a href="{{ path | replace: '.html','' }}">
        {{ s | replace: '.html','' | replace: '.md','' | capitalize }}
      </a>
    {% endunless %}
  {% endfor %}
</nav>
  {{ content }}
</main>

</body>
</html>
