<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
<main>

<h1>{{ page.title }}</h1>

<ul>
{% assign temp = site.pages | where_exp:"p","p.dir == page.dir and p.name != 'index.md'" %}
{% assign children = temp | sort:"title" %}
{% for p in children %}
  <li><a href="{{ p.url }}">{{ p.title | default: p.name | replace: ".md","" }}</a></li>
{% endfor %}
</ul>

{{ content }}

</main>
</body>
</html>
