<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
<main>

**{{ page.title }}

<ul>
  {% assign folder_indexes = site.pages| where:"name","index.md" | here_exp:"p","p.dir != '/'"| sort:"dir" %}
  {% for p in folder_indexes %}
    <li><a href="{{ p.url }}">{{ p.title }}</a></li>
  {% endfor %}
</ul>

<h2>Pages</h2>
<ul>
  {% assign root_pages_unsorted = site.pages | where_exp: "p", "p.dir == '/' and p.name != 'index.md'" %}
  {% assign root_pages = root_pages_unsorted | sort: "title" %}
  {% for p in root_pages %}
    <li><a href="{{ p.url }}">{{ p.title }}</a></li>
  {% endfor %}
</ul>

{{ content }}

</main>
</body>
</html>
